  <div>
    <h1>Memória</h1>
    <div class="wrapper small-card">

      <div  *ngIf="processos; else noDrives">
        <ng-container *ngIf="processos">
          <p><strong>Memória em uso (GB):</strong> {{ processos.memoriaUtilizada | number:'1.2-2' }} GB</p>
          <p><strong>Memória livre (GB):</strong> {{ processos.memoriaDisponivel | number:'1.2-2' }} GB</p>
          <p><strong>Memória total (GB):</strong> {{ processos.memoriaTotal | number:'1.2-2' }} GB</p>
          <p><strong>Uso de memória (%):</strong> {{ (processos.memoriaUtilizada / processos.memoriaTotal * 100) | number:'1.2-2' }}%</p>
        </ng-container>
      </div>

      <div class="chart">
        <div id="pie-chart"></div>
      </div>
    </div>

    <ng-template #noDrives>
      <p>Memória inexistente</p>
    </ng-template>
</div>

