.card {
  border-radius: 15px;
  padding: 20px;
  border: none;
  box-shadow: 1px 1px 8px rgba(67, 67, 67, 0.166);
}

.grid {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'card-1 card-2'
  'card-3 card-3';
  gap: 20px;
}

.card:nth-child(1) {
  grid-area: card-1;
}
.card:nth-child(2) {
  grid-area: card-2;
}
.card:nth-child(3) {
  grid-area: card-3;
}

h1 {
  font-size: 24px;
  color: var(--clr-dark);
  font-weight: 700;
  margin-bottom: 15px;
}




.charts{
  display: flex;
  margin: 20px;
}

.pie{
  flex: 1;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  margin-right: 20px;
}

.line{
  flex: 1;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}






