.table-responsive {
  max-height: 500px;
  overflow-y: scroll;
}

@media (max-width: 750px) {
  .table>:not(caption)>*>* {
    padding: .2rem .2rem !important;
  }

  th:first-child,
  td:first-child {
    max-width: 120px;
  }
}
