header {
  width: 100%;
  background-color: var(--clr-dark);
  color: var(--bg-light);
}

.container {
  align-items: center;
  padding: 20px 30px;
  gap: 40px;
  justify-content: space-between;
}

.logo {
  width: 200px;
  max-width: 90vw;
  cursor: pointer;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Jersey 20", sans-serif;
}

nav ul{
  gap: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

li, ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  .contact {
    display: none;
  }
}

@media (max-width: 645px) {
  .flex.container {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
}


@media (max-width: 350px) {
  li {
    font-size: 18px;
  }
}
