<header>
  <div class="flex container">
    <img class="logo" routerLink="dashboard" src="../../../assets/processTrack-logo-completa.png" alt="">
    <!-- <nav>
      <ul class="flex links">
        <li routerLink="dashboard">Dashboard</li>
        <li routerLink="graficos">Gráficos</li>
        <li routerLink="processos">Processos</li>
      </ul>
    </nav> -->
    <nav>
      <ul class="flex contact">
        <li><a target="_blank" href="https://github.com/barbaradamasdev">Github</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/barbaradamascenodev/">Linkedin</a></li>
        <li><a target="_blank" href="https://barbaradamasceno.vercel.app/">Portfolio</a></li>
      </ul>
    </nav>
  </div>
</header>
