  .chart {
    overflow: hidden;
    max-width: 75vw;
    width: 783px;
    height: 250px !important;
    margin-bottom: -20px;
  }

  #curve-chart {
    margin-top: 0px;
    width: 850px;
    max-width: 90vw;
  }

@media (max-width: 900px) {
  .chart {
    width: 1103px !important;
    max-width: 87vw;
  }
}

@media (max-width: 900px) {
  .chart {
    width: 1103px !important;
    max-width: 87vw;
  }
}
