<div>
  <h1>CPU</h1>
  <div class="wrapper big-card">

    <div>
      <ng-container *ngIf="processos; else noDrives">
        <p><strong>Nome do usuário:</strong>  {{ processos.userName }}</p>
        <p><strong>Nome da máquina:</strong>  {{ processos.machineName }}</p>
        <p><strong>Número de processadores:</strong>  {{ processos.processorCount }}</p>
        <p><strong>Uso de CPU (%):</strong>  {{ processos.percentUsed | number:'1.2-2'  }}%</p>
      </ng-container>
    </div>

    <div class="chart">
      <div id="curve-chart"></div>
    </div>
  </div>

  <ng-template #noDrives>
    <p>CPU inexistente</p>
  </ng-template>
</div>

