.chart {
  max-width: 100%;
  overflow: hidden;
  width: 300px;
  height: 260px;
}

#disk-chart {
  margin-top: -80px;
  margin-left: -73px;
  width: 450px;
  height: 450px;
}

.selected {
  background: var(--clr-medium);
  color: white;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
