<div>
  <h1>Drive</h1>
  <ng-container *ngIf="processos; else noDrives">
    <div *ngIf="processos.drives && processos.drives.length > 0;">
      <p *ngIf="processos.drives && processos.drives.length > 1;"><strong>Selecione abaixo para ver detalhes:</strong></p>
      <div class="wrapper small-card">
        <div>
          <div *ngIf="processos.drives && processos.drives.length > 1;" class="buttons">
            <button *ngFor="let disk of processos.drives; let i = index"
                    (click)="selectDrive(i)"
                    [ngClass]="{ 'selected': i === selectedDriveIndex }">
              {{disk.driveName}}
            </button>
          </div>

          <ng-container *ngIf="selectedDriveIndex !== null">
            <h2 *ngIf="processos.drives && processos.drives.length > 1;"><strong>Informações do drive:</strong></h2>
            <p><strong>Nome do drive:</strong> {{ processos.drives[selectedDriveIndex].driveName }}</p>
            <p><strong>Tipo de drive:</strong> {{ getDriveTypeName(processos.drives[selectedDriveIndex].driveType) }}</p>
            <p><strong>Tamanho total:</strong> {{ (processos.drives[selectedDriveIndex].totalSize / 1024 / 1024 / 1024) | number: '1.2-2' }} GB</p>
            <p><strong>Espaço livre disponível:</strong> {{ (processos.drives[selectedDriveIndex].availableFreeSpace / 1024 / 1024 / 1024) | number: '1.2-2' }} GB</p>
            <p><strong>Espaço utilizado:</strong> {{ (processos.drives[selectedDriveIndex].usedSpace / 1024 / 1024 / 1024) | number: '1.2-2' }} GB</p>
          </ng-container>

        </div>

        <div class="chart">
          <div id="disk-chart"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noDrives>
    <p>Drive inexistente</p>
  </ng-template>
</div>
